<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perperon.mall.mapper.AccountMapper">
<resultMap id="BaseResultMap" type="com.perperon.mall.pojo.Account">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="status" jdbcType="BIT" property="status" />

    <result column="roles" jdbcType="VARCHAR" property="roles" />
</resultMap>
    <sql id="basic_list">
        a.id, a.username, a.password, a.icon, a.email, a.nick_name, a.remark, a.created, a.login_time, a.status, a.user_id
    </sql>
    <select id="selectByUsername" parameterType="string" resultMap="BaseResultMap">
        select <include refid="basic_list"/>
        from pp_account as a
        where username = #{username}
    </select>
    <select id="listByPage" parameterType="map" resultMap="BaseResultMap">
        select <include refid="basic_list"/>,GROUP_CONCAT(r.name) as roles
        from pp_account as a
        left join pp_account_role ar on ar.account_id = a.id
        left join pp_roles r on r.id = ar.role_id
        <where>
            <if test="username != null and username != ''">
               and a.username like concat('%', #{username}, '%')
            </if>
            <if test="status != null and status != ''">
                and a.status = #{status}
            </if>
        </where>
        group by a.id
    </select>
</mapper>