<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perperon.mall.mapper.AccountMapper">
<resultMap id="BaseResultMap" type="com.perperon.mall.pojo.Account">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
</resultMap>
    <sql id="basic_list">
        a.id, a.username, a.password, a.icon, a.email, a.nick_name, a.remark, a.created, a.login_time, a.status
    </sql>
    <select id="selectByUsername" parameterType="string" resultMap="BaseResultMap">
        select <include refid="basic_list"></include> from perperon_account as a where username = #{username}
    </select>
</mapper>