<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perperon.mall.mapper.MenuMapper">
<resultMap id="BaseResultMap" type="com.perperon.mall.pojo.Menu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="menu_type" jdbcType="CHAR" property="menuType" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
</resultMap>

<resultMap id="BaseResultMapDto" type="com.perperon.mall.dto.MenuDto" extends="BaseResultMap">
    <collection property="children" ofType="com.perperon.mall.dto.MenuDto" column="children"></collection>
</resultMap>
    <sql id="basic_list">
        a.id,a.menu_name, a.perms, a.component, a.path, a.menu_type, a.icon, a.parent_id, a.user_id, a.created, a.status, a.level, a.sort
    </sql>
    <select id="listByPage" parameterType="map" resultMap="BaseResultMapDto">
        select <include refid="basic_list"/>
        from pp_menu as a
        <where>
            <if test="menuName != null and menuName != ''">
               and a.menu_name like concat('%', #{menuName}, '%')
            </if>
        </where>
    </select>
    <!--查询角色所属的权限-->
    <select id="getPermsByRoleId" resultMap="BaseResultMapDto" parameterType="string">
        select <include refid="basic_list"/>
        from pp_menu as a
        left join pp_role_menu rm on rm.menu_id = a.id
        <where>
            a.status = 1
            <if test="roleId != null and roleId != ''">
                and rm.role_id =#{roleId}
            </if>
        </where>
    </select>
    <!--查询角色的菜单-->
    <select id="getMenuCodeByRoleId" resultMap="BaseResultMapDto" parameterType="string">
        select <include refid="basic_list"/>
        from pp_menu as a
        left join pp_role_menu rm on rm.menu_id = a.id
        <where>
            a.menu_type in ('N','C') and a.status = 1
            <if test="roleId != null and roleId != ''">
                and rm.role_id =#{roleId}
            </if>
        </where>
    </select>
</mapper>