<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perperon.mall.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.perperon.mall.pojo.Order">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
        <result column="order_price" jdbcType="DECIMAL" property="orderPrice" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="created" jdbcType="TIMESTAMP" property="created" />
        <result column="status" jdbcType="BIT" property="status" />
        <result column="send_status" jdbcType="BIT" property="sendStatus" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="updated" jdbcType="TIMESTAMP" property="updated" />

        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="updated_name" jdbcType="VARCHAR" property="updatedName" />
    </resultMap>

    <sql id="basic_list">
      a.id,
      a.order_no,
      a.order_price,
      a.STATUS,
      a.send_status,
      a.user_id,
      a.created,
      a.updated,
      a.updated_by,
      a.order_status,
      a.order_from,
      a.order_date,
      a.order_type,
      a.delivery_method,
      a.tracking_number,
      a.auto_confirm_time,
      a.orders_receive_premium,
      a.event_information,
      a.order_generate_value,
      a.consignee,
      a.phone,
      a.postal_code,
      a.address,
      a.freight,
      a.coupon,
      a.deductal,
      a.event_discounts,
      a.discount_amount
    </sql>

    <select id="listOrderByPage" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="basic_list"/>,
        ac.nick_name as user_name,
        acc.nick_name as updated_name
        FROM
        pp_order a
        LEFT JOIN pp_account ac ON a.user_id = ac.id
        left join pp_account acc on acc.id = a.updated_by
        <where>
            <if test="id != null and id != ''">
                and a.id =#{id}
            </if>
            <if test="name != null and name != ''">
                and a.order_no like concat('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>