<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.perperon.mall.mapper.ProductParamMapper">

    <resultMap id="BaseResultMap" type="com.perperon.mall.pojo.ProductParam">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="category_param_id" jdbcType="VARCHAR" property="categoryParamId" />
        <result column="product_id" jdbcType="VARCHAR" property="productId" />
        <result column="attr_value" jdbcType="VARCHAR" property="attrValue" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="created" jdbcType="TIMESTAMP" property="created" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="updated" jdbcType="TIMESTAMP" property="updated" />

        <result column="typeCode" jdbcType="VARCHAR" property="typeCode" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <sql id="basic_list">
        a.id, a.category_param_id, a.product_id, a.attr_value, a.user_id, a.created, a.updated_by, a.updated
    </sql>

    <select id="listProductParamByPage" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="basic_list"/>,dd.code as typeCode,cp.name
        from
        pp_product_param as a
        left join pp_product_category_param cp on cp.id = a.category_param_id
        left join pp_dictionary_data dd on dd.id = cp.type_id
        <where>
            <if test="typeCode != null and typeCode != ''">
                and dd.code = #{typeCode}
            </if>
            <if test="categoryId != null and categoryId != ''">
                and cp.category_id = #{categoryId}
            </if>
        </where>
    </select>

    <select id="getListByProductId" resultMap="BaseResultMap" parameterType="string">
        select
            <include refid="basic_list"/>,dd.code as typeCode
        from
            pp_product_param as a
        left join pp_product_category_param cp on cp.id = a.category_param_id
        left join pp_dictionary_data dd on dd.id = cp.type_id
        where a.product_id = #{productId}
    </select>

    <insert id="saveList"  parameterType="java.util.List" >

        insert into pp_product_param
        (
        id,
        product_id,
        category_param_id,
        attr_value,
        user_id
        )
        values
        <foreach collection="list" item="item" index= "index" separator =",">
            (
            (SELECT UUID() AS id),
            #{item.productId},
            #{item.categoryParamId},
            #{item.attrValue},
            #{item.userId}
            )
        </foreach>
    </insert>

</mapper>